body {
    font-family: arial, sans-serif;
    background: #e3e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 0 12px rgba(0,0,0,0.1);
    max-width: 400px;
    width: 100%;
}

h1 {
    text-align: center;
    color: #333;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 6px;
    border: 1px solid #ccc;
    cursor: text;
}

button {
    margin-top: 20px;
    width: 100%;
    padding: 12px;
    background: #4caf50;
    color: white;
    font-size: 16px;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    transition: background o.3s ease;
}

button:hover{
    background: #45a049;
}

#resultado {
    margin-top: 20px;
    font-size: 18px;
    color: #444;
    text-align: center;

}